.App {
position: relative
;  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: left;
}

.dialog{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: min(50ch, 80vw);
  z-index: 10;
  /* aspect-ratio: 1/.5; */
  border: 1px solid black;
  background-color: white;
  padding: 2rem 1.5rem;
}

.dialog * {
z-index: 10;
}

.backdrop{
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  background-color: rgba(0 0 0 / .3);
  width: 100vw;
  height: 100vh;
  z-index: 9;
}